body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f8f8;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1e3a8a;
  padding: 1rem 2rem;
  color: white;
}

header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}
.section-body{
  padding: 3rem 0.5rem 0.5rem 0.5rem;
  max-width: fit-content;
  margin: auto;
}

.hero {
  background: #1e3a8a;
  color: white;
  padding: 2rem 2rem;
}

.hero-btn {
  background: #facc15;
  color: #1e3a8a;
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  text-decoration: none;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

form button {
  background-color: #1e3a8a;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
}